/* Navbar.css */

nav {
  background-color: black;
  
  justify-content: center;
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  justify-content: center;
  padding: 10px;
}

a:hover {
  color: #555;
}
